:root {
  --color-lightblue: #c7d9ed;
  --color-darkblue: #2e609a;
  --color-brightblue: #52a1ff;
  --color-success: #267712;
  --color-error: #c82d2d;
  --font-main: "Istok Web", sans-serif;
  --font-second: "Alegreya Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-main);
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  font: inherit;
}
